/* ContactForm.css */
.all-contact-form{
     background-image: url("/public/contact.png");
      /* background-position: top center; */
    background-repeat: no-repeat;
    background-size: cover;

    height: 500px;
}
.contact-form {
   
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;
    background-color: #f4f1eb;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 16px;
}

.contact-form label {
    position: relative;
    display: flex;
    align-items: center;
}

.contact-form .icon {
    position: absolute;
    left: 12px;
    color: #888;
    font-size: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px 10px 10px 36px;
    /* מקום לאייקון */
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    resize: vertical;
}

.contact-form button {
    padding: 12px;
    background-color: #c6c5cc;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.contact-form button:hover {
    background-color: #cac7ab;
}