@font-face {
    /* font-family: caveat; */
    /* src: url(../../fonts/Caveat/Caveat-Regular.ttf); */
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');
